<ng-container [ngSwitch]="type">
  <div *ngSwitchCase="'featured'" class="featured">
    <div class="content">
      <div class="title skeleton-box"></div>
      <br />
      <div class="description skeleton-box"></div>
      <br />
      <div class="description skeleton-box"></div>
      <br />
      <div class="description skeleton-box"></div>
    </div>
  </div>
  <div *ngSwitchCase="'film-card'" class="film-card">
    <div class="image-container skeleton-box"></div>
  </div>
  <div *ngSwitchDefault>Loading...</div>
</ng-container>
