:host {
  height: calc(100vh - 80px);
  background: blue;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

img.play {
  height: 96px;
  width: 96px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  cursor: pointer;
}

.info {
  color: #fff;
  margin-top: auto;
  margin-bottom: 64px;
  text-align: center;

  h1 {
    margin-top: 0;
    z-index: 2;
    position: relative;
    font-size: 40px;
  }

  .description {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    position: relative;

    a {
      color: #fff;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
  }
}

.player {
  display: block;
  width: 80%;
  height: 45%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;

  img.cross {
    position: absolute;
    top: -72px;
    left: 0;
    width: 64px;
    height: 64px;
    z-index: 2;
    cursor: pointer;
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    background: black;

    ::ng-deep iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-box-shadow: 0px 0px 40px 20px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 40px 20px rgba(0,0,0,1);
      box-shadow: 0px 0px 40px 20px rgba(0,0,0,1);
    }

    > ::ng-deep p {
      display: none;
    }
  }
}