<div class="header-container" [class.movie]="isMoviePage">
  <a class="logo" [routerLink]="['/']">
    <svg width="333" height="386" viewBox="0 0 333 386" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="115" width="256" height="128" fill="#F0C75E" />
      <circle cx="80" cy="48" r="48" fill="#D6230D" />
      <circle cx="198" cy="48" r="36" fill="#02416A" />
      <line x1="101.658" y1="256.463" x2="3.15206" y2="382.544" stroke="black" stroke-width="8" />
      <line x1="252.354" y1="382.544" x2="153.848" y2="256.463" stroke="black" stroke-width="8" />
      <path d="M285 179L321 137.431V220.569L285 179Z" fill="#EC6840" />
    </svg>
    <span>logo</span>
  </a>
</div>

<div class="hidden-header" *ngIf="!isMoviePage"></div>
