<div class="container">
  <a class="logo" [routerLink]="['/']"><img alt="logo" src="/assets/img/logo.svg"><span>logo</span></a>
  <div class="search-container" *ngIf="false">
    <img (click)="openSearchOverlay = true" src="assets/icons/search.svg">
  </div>
</div>

<div class="search-result-overlay" *ngIf="openSearchOverlay">
  <div class="search-result-content">
    <input placeholder="Ara" (keyup)="search($event)">
    <div class="film-card-container">
      <ng-container *ngIf="isSearching; else searchResultTemplate">
        <skeleton type="film-card" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]"></skeleton>
      </ng-container>
      <ng-template #searchResultTemplate>
        <film-card *ngFor="let film of searchResult" [film]="film"></film-card>
      </ng-template>
    </div>
  </div>
</div>