<featured *ngIf="film; else filmLoading" [film]="film" [isFeatured]="false"></featured>

<ng-template #filmLoading>
  <skeleton type="featured"></skeleton>
</ng-template>

<div class="container"> 
  <div class="section">
    <div class="section-title">
      <span>Popüler Filmler</span>
      <span class="right"><a [routerLink]="'/filmler/popular'">Tümü</a></span>
    </div>

    <div class="film-card-container">
      <ng-container *ngIf="popularFilms$ | async as popularFilms; else popularFilmsLoading">
        <film-card *ngFor="let film of popularFilms" [film]="film"></film-card>
      </ng-container>

      <ng-template #popularFilmsLoading>
        <skeleton type="film-card" *ngFor="let i of [1,2,3,4,5,6]"></skeleton>
      </ng-template>
    </div>
  </div>
</div>