film-card {
  margin-bottom: 24px;
}

skeleton {
  margin-bottom: 24px;
}

.all-title {
  margin-top: 16px;
  margin-bottom: 22px;

  h1 {
    display: inline-block;
    margin: 0;
  }

  span {
    font-size: 32px;
    font-weight: 300;
    color: #777;
    margin-left: 8px;
  }
}

.pagination {
  list-style-type: none;
  text-align: center;
  margin: 32px 0 48px 0;
  padding: 0;

  li {
    display: inline-block;
    font-size: 40px;
    margin: 0 4px;
    font-weight: 300;

    a {
      color: #222;
      text-decoration: none;
      padding: 0 4px;
      transition: all 0.3s ease;

      &:hover {
        background: #EC6840;
        color: #fff;
      }
    }

    &.active {
      opacity: .3;
      pointer-events: none;
    }
  }
}