<!--<ng-container *ngIf="featuredFilm$ | async as featuredFilm; else featuredFilmLoading">
  <featured [film]="featuredFilm" [isFeatured]="true"></featured>
</ng-container>

<ng-template #featuredFilmLoading>
  <skeleton type="featured"></skeleton>
</ng-template>

<div class="container">
  <div class="section">
    <div class="section-title">
      <span>Son Eklenen Filmler</span>
      <span class="right"><a [routerLink]="'/filmler/latest'">Tümü</a></span>
    </div>

    <div class="film-card-container">
      <ng-container *ngIf="latestFilms$ | async as latestFilms; else latestFilmLoading">
        <film-card *ngFor="let film of latestFilms" [film]="film"></film-card>
      </ng-container>

      <ng-template #latestFilmLoading>
        <skeleton type="film-card" *ngFor="let i of [1,2,3,4,5,6]"></skeleton>
      </ng-template>
    </div>
  </div>

  <div class="section">
    <div class="section-title">
      <span>Popüler Filmler</span>
      <span class="right"><a [routerLink]="'/filmler/popular'">Tümü</a></span>
    </div>

    <div class="film-card-container">
      <ng-container *ngIf="popularFilms$ | async as popularFilms; else popularFilmsLoading">
        <film-card *ngFor="let film of popularFilms" [film]="film"></film-card>
      </ng-container>

      <ng-template #popularFilmsLoading>
        <skeleton type="film-card" *ngFor="let i of [1,2,3,4,5,6]"></skeleton>
      </ng-template>
    </div>
  </div>
</div>
-->

<div class="container">
  <div class="film-card-container">
    <ng-container *ngIf="films$ | async as films; else filmsLoading">
      <film-card *ngFor="let film of films" [film]="film"></film-card>
    </ng-container>

    <ng-template #filmsLoading>
      <skeleton
        type="film-card"
        *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]"
      ></skeleton>
    </ng-template>
  </div>
</div>
