<ng-container *ngIf="featuredFilm$ | async as featuredFilm">
  <featured [film]="featuredFilm" [isFeatured]="true"></featured>
</ng-container>

<div class="container">
  <div class="section" *ngIf="latestFilms$ | async as latestFilms">
    <div class="section-title">
      <span>Son Eklenen Filmler</span>
    </div>
    <div class="film-card-container">
      <film-card *ngFor="let film of latestFilms" [film]="film"></film-card>
    </div>
  </div>
  
  <div class="section" *ngIf="popularFilms$ | async as popularFilms">
    <div class="section-title">
      <span>Popüler Filmler</span>
    </div>
    <div class="film-card-container">
      <film-card *ngFor="let film of popularFilms" [film]="film"></film-card>
    </div>
  </div>
</div>